<dx-popup
  [width]="'40vw'"
  [height]="'90vh'"
  [showTitle]="true"
  title="Flight"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  [visible]="true"
>
  <div *dxTemplate="let data of 'content'">
    <div class="">
      <div class="row">
        <div id="flFormsGrid" class="col-lg-12 layout-spacing">
          <form [formGroup]="flightForm" (submit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="input" style="text-align: right; width: 100%"
                  >نام ایرلاین <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
                  ">*</span></label
                >
                <dx-select-box
                  [dataSource]="airLineNamesDataSource"
                  displayExpr="name"
                  valueExpr="name"
                  [searchEnabled]="true"
                  name="airlineName"
                  id="airlineName"
                  formControlName="airlineName"
                >
                </dx-select-box>
                <div *ngIf="submitted&& !this.flightForm.controls.airlineName.valid " class="invalid-feedback show" style="display: block">
  نام ایرلاین لازم است
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="input" style="text-align: right; width: 100%"
                  >شماره پرواز <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
                  ">*</span></label
                ><input
                  type="text"
                  class="form-control"
                  id="flightName"
                  name="flightName"
                  placeholder="شماره پرواز"
                  formControlName="flightName"
                />
                <div *ngIf="submitted&& !this.flightForm.controls.flightName.valid " class="invalid-feedback show" style="display: block">
                  شماره پرواز لازم است
                                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="from">تاریخ پرواز</label>
                <dx-date-box
                  pickerType="calendar"
                  formControlName="flightDate"
                  type="date"
                  displayFormat="yyyy-MM-dd"
                ></dx-date-box>
              
                
                
              
              </div>
            </div>
            <div class="form-row mb-4">
              <div class="form-group col-md-4">
                <label>&nbsp;</label>
                <div class=""  style="text-align: right;">
                  <input
                    type="checkbox"
                    class=""
                    id="scheduled"
                    style="height: 24px;width: 24px;margin-right: 10px;"
                    formControlName="scheduled"
                  /><label
                    class=""
                    for="Scheduled"
                    style="text-align: right; float: right"
                    >پرواز روتین</label
                  >
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>&nbsp;</label>
                <div class="" style="text-align: right;">
                  <input
                    type="checkbox"
                    class=""
                    id="status"
                    style="height: 24px;width: 24px;margin-right: 10px;"
                    formControlName="status"
                  /><label
                    class=""
                    for="status"
                    style="text-align: right; float: right"
                    >پرواز فعال است</label
                  >
                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="input" style="text-align: right; width: 100%"
                  >نوع پرواز <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
                  ">*</span></label
                >

                <dx-select-box
                  [dataSource]="flightTypeSource"
                  displayExpr="label"
                  valueExpr="value"
                  name="flightType"
                  id="flightType"
                  formControlName="flightType"
                ></dx-select-box>
                <div *ngIf="submitted&& !this.flightForm.controls.flightType.valid " class="invalid-feedback show" style="display: block">
                  نوع پرواز لازم است
                                </div>
              </div>
              <div class="form-group col-md-4">
                <label for="input" style="text-align: right; width: 100%"
                  >محدوده پرواز <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
                  ">*</span></label
                >
                <dx-select-box
                  [dataSource]="flightSourcesSource"
                  displayExpr="label"
                  valueExpr="value"
                  name="flightType"
                  id="flightType"
                  formControlName="flightSources"
                ></dx-select-box>
                <div *ngIf="submitted&& !this.flightForm.controls.flightType.valid " class="invalid-feedback show" style="display: block">
                  نوع پرواز لازم است
                                </div>
              </div>
            </div>
            <hr />
            <div >
              <div class="form-row mb-4">
                <div class="form-group col-md-8">
                  <label for="input" style="text-align: right; width: 100%"
                    >فرودگاه مبدا <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
                    ">*</span></label
                  >   <dx-select-box
                  [dataSource]="airportNamesDataSource"
                  displayExpr="name"
                  valueExpr="id"
                  [searchEnabled]="true"
                  name="departureAirportId"
                  id="departureAirportId"
                  formControlName="departureAirportId"
                  required=""
                >
                </dx-select-box>
              
                <div *ngIf="submitted&& !this.flightForm.controls.departureAirportId.valid " class="invalid-feedback show" style="display: block">
                  فرودگاه مبدا لازم است
                                </div>
                </div>
             
                <div class="form-group col-md-4">
                  <label
                    for="input"
                    style="text-align: left; direction: ltr; width: 100%"
                    >ساعت حرکت 00:00 <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
                    ">*</span></label
                  ><input
                    type="time"
                    class="form-control"
                    id="departureTime"
                    placeholder="ساعت حرکت 00:00"
                    value=""
                    style="text-align: left"
                    formControlName="departureTime"
                  />
                  <div *ngIf="submitted&& !this.flightForm.controls.departureTime.valid " class="invalid-feedback show" style="display: block">
                    ساعت حرکت لازم است
                                  </div>
                </div>
              </div>
              <div class="form-row mb-4">
                <div class="form-group col-md-8">
                  <label for="input" style="text-align: right; width: 100%"
                    >فرودگاه مقصد <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
                    ">*</span></label
                  >

                  <dx-select-box
                  [dataSource]="airportNamesDataSource"
                  displayExpr="name"
                  valueExpr="id"
                  [searchEnabled]="true"
                  name="arrivalAirportId"
                  id="arrivalAirportId"
                  formControlName="arrivalAirportId"
                  required=""
                >
                </dx-select-box>

                <div *ngIf="submitted&& !this.flightForm.controls.departureAirportId.valid " class="invalid-feedback show" style="display: block">
                  فرودگاه مقصد لازم است
                                </div>
                  <div *ngIf="submitted&& this.flightForm.value.arrivalAirportId===this.flightForm.value.departureAirportId"
                    class="invalid-feedback show"
                    style="display: block;"
                  >
                فرودگاه مبدا و مقصد یکی است
                
                </div>
                </div>
              
                <div class="form-group col-md-4">
                  <label
                    for="input"
                    style="text-align: left; direction: ltr; width: 100%"
                    >ساعت ورود 00:00 <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
                    ">*</span></label
                  ><input
                    type="time"
                    class="form-control"
                    id="arrivalTime"
                    placeholder="ساعت ورود 00:00"
                    value=""
                    style="text-align: left"
                    formControlName="arrivalTime"
                  />
                  <div *ngIf="submitted&& !this.flightForm.controls.arrivalTime.valid " class="invalid-feedback show" style="display: block">
                    ساعت ورود لازم است
                                  </div>
                </div>
              </div>
            </div>
            <button
              type="button"
              (click)="oncancel()"
              class="btn btn-warning mb-2 mr-2 ml-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-x"
              >
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </button>
            <button type="submit" class="btn btn-dark mb-2">
              <div class="icon-container">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-save"
                >
                  <path
                    d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"
                  ></path>
                  <polyline points="17 21 17 13 7 13 7 21"></polyline>
                  <polyline points="7 3 7 8 15 8"></polyline>
                </svg>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</dx-popup>
