<div class="row">
  <div id="" class="col-lg-12 layout-spacing">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input
        type="hidden"
        name="id"
        [ngModel]="account.id"
        [value]="account.id"
      />
      <div class="form-group mb-4">
        <label for="input" style="text-align: right; width: 100%">عنوان</label>
        <input
          type="text"
          class="form-control"
          id="Title"
          name="Title"
          placeholder="عنوان"
          required
          ngModel
          [ngModel]="account.title"
        />
        <div class="invalid-feedback show" style="display: none"></div>
      </div>
      <div class="form-group">
        <label for="input" style="text-align: right; width: 100%"
          >آدرس ایمیل</label
        ><input
          type="text"
          class="form-control"
          id="EmailAddress"
          name="EmailAddress"
          dir="ltr"
          placeholder="آدرس ایمیل"
          style="text-align: left"
          [ngModel]="account.emailAddress"
          email
          required
        />
        <div class="invalid-feedback show" style="display: none"></div>
      </div>
      <div class="form-group">
        <label for="input" style="text-align: right; width: 100%"
          >شماره تلفن</label
        ><input
          type="text"
          class="form-control"
          id="Phone"
          name="Phone"
          dir="ltr"
          placeholder="شماره تلفن"
          required
          style="text-align: left"
          [ngModel]="account.phone"
        />
        <div class="invalid-feedback show" style="display: none"></div>
      </div>
      <div class="form-group mb-">
        <label for="input" style="text-align: right; width: 100%"
          >آدرس پستی</label
        ><input
          type="text"
          class="form-control"
          id="PostalAddress"
          name="PostalAddress"
          placeholder="آدرس پستی"
          [ngModel]="account.postalAddress"
        />
        <div class="invalid-feedback show" style="display: none"></div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">ذخیره</button>
    </form>
  </div>
</div>
