<div class="row">
  <div id="" style="margin: auto" class="col-lg-6 layout-spacing">
    <div class="widget widget-activity-four">
      <div class="widget-heading" style="display: inline-block">
        <div class="w-icon">
          <a class="btn btn-primary" routerLink="/dashboard/crm/accounts"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-list"
            >
              <line x1="8" y1="6" x2="21" y2="6"></line>
              <line x1="8" y1="12" x2="21" y2="12"></line>
              <line x1="8" y1="18" x2="21" y2="18"></line>
              <line x1="3" y1="6" x2="3.01" y2="6"></line>
              <line x1="3" y1="12" x2="3.01" y2="12"></line>
              <line x1="3" y1="18" x2="3.01" y2="18"></line>
            </svg>
          </a>
        </div>
      </div>

      <div class="widget-content">

        <p class="text-danger" *ngIf="error">
          {{error}}
         </p>
         <div *ngIf="isLoading" style="text-align: center">
           <app-loading-spinner></app-loading-spinner>
         </div>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" style="margin-bottom: 20px">
          <input
            type="hidden"
            name="id"
            [ngModel]="account.id"
            [value]="account.id"
          />
          <div class="form-group mb-4">
            <label for="input" style="text-align: right; width: 100%"
              >عنوان</label
            >
            <input
              type="text"
              class="form-control"
              id="Title"
              name="Title"
              placeholder="عنوان"
              required
              ngModel
              [ngModel]="account.title"
            />
            <div *ngIf="submitted && f.form.controls['username'].errors">

              <div *ngIf="f.form.controls['username'].errors['required']" class="text-danger">Email required.</div>
              <div *ngIf="f.form.controls['username'].errors['email']" class="text-danger">Invalid Email .</div>
              </div>
            <div class="invalid-feedback show" style="display: none"></div>
          </div>
          <div class="form-group">
            <label for="input" style="text-align: right; width: 100%"
              >آدرس ایمیل</label
            ><input
              type="text"
              class="form-control"
              id="EmailAddress"
              name="EmailAddress"
              dir="ltr"
              placeholder="آدرس ایمیل"
              style="text-align: left"
              [ngModel]="account.emailAddress"
              email
              required
            />
            <div class="invalid-feedback show" style="display: none"></div>
          </div>
          <div class="form-group">
            <label for="input" style="text-align: right; width: 100%"
              >شماره تلفن</label
            ><input
              type="text"
              class="form-control"
              id="Phone"
              name="Phone"
              dir="ltr"
              placeholder="شماره تلفن"
              required
              style="text-align: left"
              [ngModel]="account.phone"
            />
            <div class="invalid-feedback show" style="display: none"></div>
          </div>
          <div class="form-group mb-">
            <label for="input" style="text-align: right; width: 100%"
              >آدرس پستی</label
            ><input
              type="text"
              class="form-control"
              id="PostalAddress"
              name="PostalAddress"
              placeholder="آدرس پستی"
              [ngModel]="account.postalAddress"
            />
            <div class="invalid-feedback show" style="display: none"></div>
          </div>

          <button type="submit" class="btn btn-primary mt-3">ذخیره</button>
        </form>
      </div>
    </div>
  </div>
</div>

<dx-toast [visible]="saved" type="success" [message]="'ذخیره شد'"> </dx-toast>
