<div class="layout-px-spacing">
  <div class="page-header">
    <div class="page-title">
      <h3>
        Reserves:
<!--         
        {{ "Account.List.PageTitle" | translate }} -->
      
      </h3>
    </div>
  </div>

  <div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
      <div class="widget widget-chart-one" style="padding: 20px">
        <div class="widget-heading">
          <dx-data-grid
            [dataSource]="dataSource"
            [showBorders]="true"
            [remoteOperations]="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [rowAlternationEnabled]="true"
            [hoverStateEnabled]="true"
            (onExporting)="onExporting($event)"
            keyExpr="Id"
            showScrollbar="true"
            useNative="false"
          >
            <dxo-paging [pageSize]="30" [enabled]="true"> </dxo-paging>
            <dxo-pager
              [showPageSizeSelector]="true"
              [allowedPageSizes]="[10, 20, 50]"
              [showNavigationButtons]="true"
            >
            </dxo-pager>
            <dxo-filter-row
              [visible]="true"
              [applyFilter]="true"
            ></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel
              [visible]="true"
              [width]="240"
              placeholder="Search..."
            ></dxo-search-panel>

            <dxi-column
              width="100"
              dataField="departureReserveStatus"
              dataType="string"
              caption="Departure Status"
              cellTemplate="reserveStatusId"
            ></dxi-column>
            <dxi-column
            width="100"
            dataField="arrivalReserveStatus"
            dataType="string"
            caption="Arrival Status"
            cellTemplate="reserveStatusId"
          ></dxi-column>
            <dxi-column
              direction="rtl"
              alignment="center"
              dataField="flightName"
              caption="{{ 'ReservePage.List.FlightNumber' | translate }}"
              dataType="string"
              width="100"
            ></dxi-column>
            <dxi-column
              direction="rtl"
              alignment="right"
              dataField="departureReserveNumber"
              dataType="string"
              width="120"
              caption="{{ 'ReservePage.List.ReserveNumber' | translate }}"
            ></dxi-column>
            <dxi-column
            direction="rtl"
            alignment="right"
            dataField="arrivalReserveNumber"
            dataType="string"
            width="100"
            caption="{{ 'ReservePage.List.ReserveNumber' | translate }}"
          ></dxi-column>
            <dxi-column
              direction="rtl"
              alignment="right"
              dataField="tripCode"
              dataType="string"
              caption="Trip Code"
              width="100"
            ></dxi-column>

            <dxi-column
              width="120"
              dataField="flightDate"
              dataType="date"
              format="yyyy-MM-dd HH:mm"
              caption="{{ 'ReservePage.List.FlightDate' | translate }}"
            ></dxi-column>
            <dxi-column
              width="120"
              dataField="contactFullName"
              dataType="string"
              caption="{{ 'ReservePage.List.CustomerName' | translate }}"
            ></dxi-column>
            <dxi-column
              width="120"
              dataField="arrivalLocationTitle"
              dataType="string"
              caption="{{ 'ReservePage.List.ArrivalLocationTitle' | translate }}"
            ></dxi-column>
            <dxi-column
            width="120"
            dataField="departureLocationTitle"
            dataType="string"
            caption="{{ 'ReservePage.List.ArrivalLocationTitle' | translate }}"
          ></dxi-column>
            <dxi-column
              width="50"
              dataField="payment"
              caption="{{ 'ReservePage.List.Payment' | translate }}"
              cellRender="checkBoxCell"
            ></dxi-column>

            <dxi-column
              dataField="passengers"
              width="50"
              allowSorting="false"
              caption="P"
            ></dxi-column>
            <dxi-column
              dataField="attendance"
              width="50"
              allowSorting="false"
              caption="A"
              [visible]="false"
            ></dxi-column>
            <dxi-column
              dataField="transfer"
              width="50"
              allowSorting="false"
              caption="T"
              [visible]="false"
            ></dxi-column>
            <dxi-column
              dataField="suite"
              width="50"
              allowSorting="false"
              caption="suite"
              [visible]="false"
            ></dxi-column>
            <dxi-column
              dataField="pet"
              width="50"
              allowSorting="false"
              caption="pet"
              [visible]="false"
            ></dxi-column>
            <dxi-column
              dataField="wheelchair"
              width="50"
              allowSorting="false"
              caption="W"
              [visible]="false"
            ></dxi-column>
            <dxi-column
              dataField="visa"
              width="50"
              allowSorting="false"
              caption="visa"
              [visible]="false"
            ></dxi-column>
            <dxi-column
              dataField="lom"
              width="50"
              allowSorting="false"
              caption="lom"
              [visible]="false"
            ></dxi-column>

            <dxi-column
              dataField="remainig"
              [width]="150"
              allowSorting="false"
              caption="Remaining"
            ></dxi-column>
            <dxi-column
              dataField="Id"
              allowSorting="false"
              caption="Edit"
              cellTemplate="cellTemplate"
            ></dxi-column>

            <!-- <dxo-paging defaultPageSize="12"></dxo-paging>
            <dxo-pager
              [showPageSizeSelector]="true"
              allowedPageSizes="allowedPageSizes"
            ></dxo-pager> -->
            <dxo-load-panel [enabled]="false"></dxo-load-panel>
            <dxo-scrolling mode="infinite"></dxo-scrolling>

            <div *dxTemplate="let data of 'reserveStatusId'">
              <span style="font-size: 10px" [class]="getStyle(data.value)">
                {{ getStatus(data.value) }}</span
              >
            </div>
            <div *dxTemplate="let data of 'cellTemplate'">
              <div class="inv-action">
                <button
                  style="background: none; border: none"
                  (click)="onNavigateToReserve(data)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    strokeWidth="2"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    className="feather feather-settings"
                  >
                    <circle cx="12" cy="12" r="3"></circle>
                    <path
                      d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"
                    ></path>
                  </svg>
                </button>
                <button
                  style="background: none; border: none"
                  (click)="onNavigateToPayment(data)"
                >
                  <svg
                    _ngcontent-vag-c402=""
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    strokeWidth="2"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    className="feather feather-dollar-sign"
                  >
                    <line
                      _ngcontent-vag-c402=""
                      x1="12"
                      y1="1"
                      x2="12"
                      y2="23"
                    ></line>
                    <path
                      _ngcontent-vag-c402=""
                      d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
            <dxo-export
              [enabled]="true"
              [allowExportSelectedData]="true"
            ></dxo-export>
            <dxo-toolbar>
              <dxi-item location="after">
                <!-- <div *dxTemplate>
                   (onClick)="AddAccount()" 
                  <dx-button icon="plus"> </dx-button>
                </div> -->
              </dxi-item>
              <dxi-item name="columnChooserButton"></dxi-item>
              <dxi-item name="exportButton"></dxi-item>
              <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>
