<a class="navbar-brand" href="/" style="width: 100%"
  ><img
    alt="logo"
    src="assets/img/Logo-Varan.png"
    style="height: 40px; float: left" />
  <span class="navbar-brand-name"></span
></a>
<h1 class="">ورود</h1>
<p class="">برای ادامه وارد شوید.</p>


<p class="text-danger" *ngIf="error">
  {{error}}
 </p>
 <div *ngIf="isLoading" style="text-align: center">
   <app-loading-spinner></app-loading-spinner>
 </div>
<form
  class="text-left"
  style="direction: rtl"
  (ngSubmit)="onSubmit(f)"
  #f="ngForm"
>
  <div class="form">
    <div style="direction: ltr" id="username-field" class="field-wrapper input">
      <label for="username">USERNAME</label>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-user"
      >
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </svg>
      <input
        id="username"
        name="username"
        type="text"
        class="form-control"
        placeholder="User Name"
        ngModel
        required
      />
      <div *ngIf="submitted && f.form.controls['username'].errors">

        <div *ngIf="f.form.controls['username'].errors['required']" class="text-danger">Email required.</div>
        <div *ngIf="f.form.controls['username'].errors['email']" class="text-danger">Invalid Email .</div>
        </div>
    </div>

    <div
      style="direction: ltr"
      id="password-field"
      class="field-wrapper input mb-2"
    >
      <div class="d-flex justify-content-between">
        <label for="password">PASSWORD</label>
        <a routerLink="/single/auth/forgotPassword" class="forgot-pass-link"
          >رمز عبور را فراموش کرده ام</a
        >
      </div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-lock"
      >
        <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
        <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
      </svg>
      <input
        id="password"
        name="password"
        [type]="passwordInputType?'password':'text'"
        class="form-control"
        placeholder="Password"
        required
        minlength="7"
        ngModel
      />
      <!-- <div style="display: block;height: 25px;" (click)="showPassword">
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        id="toggle-password"
        class="feather feather-eye"
      >
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
        <circle cx="12" cy="12" r="3"></circle>
      </svg>
    </div> -->
      <div *ngIf="submitted && f.form.controls['password'].errors">

        <div *ngIf="f.form.controls['password'].errors['required']" class="text-danger">Password required.</div>
      
        </div>
    </div>
    <div class="d-sm-flex justify-content-between">
      <div class="field-wrapper">
        <button
          type="submit"
          class="btn btn-primary"
          value=""
          [disabled]="!f.valid"
        >
          ورود
        </button>
      </div>
    </div>
    <p class="signup-link"></p>
  </div>
</form>
