<router-outlet></router-outlet>

<div class="row" style="margin-bottom: 10px">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div
      *ngIf="trip && trip.tripCode"
      class="widget widget-table-two"
    >
      <div class="widget-content searchable-container list">
        <div class="searchable-items list">
          <div class="items">
            <div class="item-content">
              <div class="user-location">
                <div class="user-meta-info">
                  <button (click)="navtoPrint(trip.id)"  class="btn btn-primary">
                    <div class="icon-container">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-printer"
                      >
                        <polyline points="6 9 6 2 18 2 18 9"></polyline>
                        <path
                          d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"
                        ></path>
                        <rect x="6" y="14" width="12" height="8"></rect></svg>
                        <span class="icon-name"> Printe</span>
                    </div>
                  </button>
                 
                </div>
              </div>
              <div class="user-location">
                <div class="user-meta-info">
                  <p class="user-name text-center">کد</p>
                  <p
                    class="user-work"
                    data-occupation="trip.reserveNumber"
                    style="border-bottom: 1px solid"
                  >
                    {{ trip.reserveNumber }}
                  </p>
                </div>
              </div>
              <div class="user-location">
                <p class="info-title">نام مشتری</p>
                <p class="usr-email-addr" style="border-bottom: 1px solid">
                  {{ trip.contactFullName }}
                </p>
              </div>
              <div class="user-location">
                <p class="info-title">شماره موبایل</p>
                <p class="usr-location" style="border-bottom: 1px solid">
                  {{ trip.contactPhone }}
                </p>
              </div>
              <div class="user-location">
                <p class="info-title">محل ارائه سرویس</p>
                <p class="usr-ph-no" style="border-bottom: 1px solid">
                  {{ trip.locationTitle }}
                </p>
              </div>
              <div class="user-profile">
                <div class="user-meta-info">
                  <p class="user-name text-center">شماره پرواز</p>
                  <p
                    class="user-work text-info"
                    data-occupation="trip.reserveNumber"
                    style="border-bottom: 1px solid"
                  >
                    {{ trip.flightInfo.airlineName }}
                    <strong> {{ trip.flightInfo.flightName }}</strong>
                  </p>
                </div>
              </div>
              <div class="user-location">
                <p class="info-title">تاریخ پرواز</p>
                <p
                  class="usr-email-addr text-info"
                  style="direction: ltr; border-bottom: 1px solid"
                >
                  {{
                    trip.flightInfo.flightDate
                      | date : "yyyy-MM-dd HH:mm"
                  }}{{ "-" }}
                  {{
                    trip.flightInfo.flightType === 0
                      ? "ورودی"
                      : "خروجی"
                  }}
                </p>
              </div>
              <div class="user-location">
                <p class="info-title">فرودگاه مبدا</p>
                <p class="user-location" style="border-bottom: 1px solid">
                  {{ trip.flightInfo.arrivalAirport }}
                </p>
              </div>
              <div class="user-location">
                <p class="info-title">فرودگاه مقصد</p>
                <p class="user-location" style="border-bottom: 1px solid">
                  {{ trip.flightInfo.departureAirport }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-bottom: 10px">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="widget widget-table-two" style="padding: 20px">
      <div class="widget-heading" style="text-align: right; margin: 0">
        <h5 style="text-align: right; margin: 0">خلاصه</h5>
      </div>
      <div class="widget-content searchable-container list">
        <div class="searchable-items list">
          <div class="items">
            <div class="item-content" *ngIf="trip">
              <!-- <div class="user-profile">
                <div class="user-meta-info">
                  <p class="user-name text-center">کد</p>
                  <p
                    class="user-work"
                    data-occupation="trip.reserveNumber"
                  >
                    {{ trip.reserveNumber }}
                  </p>
                </div>
              </div> -->
              <div class="user-location">
                <p class="info-title">جمع</p>
                <p class="usr-email-addr">
                  {{ trip.total | number }}
                </p>
              </div>
              <div class="user-location">
                <p class="info-title">تخفیف</p>
                <p class="usr-location">
                  {{ trip.discountValue | number }}
                </p>
              </div>
              <div class="user-location">
                <p class="info-title">مالیات</p>
                <p class="usr-ph-no">
                  {{ trip.taxTotal | number }}
                </p>
              </div>
              <div class="user-profile">
                <div class="user-location">
                  <p class="user-name text-center">پرداخت شده</p>
                  <p
                    class="user-work text-success"
                    data-occupation="trip.reserveNumber"
                  >
                    {{ trip.paid | number }}
                  </p>
                </div>
              </div>
              <div class="user-profile">
                <div class="user-location">
                  <p class="user-name text-center">قابل پرداخت</p>
                  <p
                    class="user-work"
                    data-occupation="trip.reserveNumber"
                  >
                    {{ trip.billable | number }}
                  </p>
                </div>
              </div>
              <div class="user-location">
                <p class="info-title">باقی مانده</p>
                <p class="usr-email-addr text-danger" style="direction: ltr">
                  {{ trip.remaining | number }}
                </p>
              </div>
              <div class="user-location">
                <p class="info-title">موجودی حساب</p>
                <p class="usr-email-addr text-info" style="direction: ltr">
                  {{ account ? (account.balance | number) : (0 | number) }}
                </p>
              </div>
              <div class="user-location">
                <button
                  *ngIf="trip.remaining > 0"
                  (click)="AddPayment()"
                  class="btn btn-dark"
                >
                  ثبت پرداخت
                </button>
              </div>
              <div class="user-location">
                <button
                  (click)="PayFromAccount()"
                  *ngIf="
                    account &&
                    account.balance >= trip.remaining &&
                    trip.remaining > 0
                  "
                  class="btn btn-dark"
                >
                  پرداخت از حساب
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 10px">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="widget widget-table-two" style="padding: 20px">
      <div class="widget-heading">
        <h5 style="text-align: right">پرداختها</h5>
      </div>

      <div class="widget-content" *ngIf="trip&& trip.financialPayments">
        <dx-data-grid
          id="gridContainer"
          [dataSource]="trip.financialPayments"
          keyExpr="dateIssue"
          [showColumnLines]="true"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [columns]="[
            'traceNumber',
            'amount',
            'dateIssue',
            'description',
            'status'
          ]"
          [showBorders]="true"
        >
          <dxi-column
            dataField="amount"
            caption="مبلغ"
            format="currency"
            [width]="200"
          ></dxi-column>
          <dxi-column
            dataField="dateIssue"
            [format]="'yyyy-MM-dd HH:mm'"
            [width]="200"
            caption="تاریخ"
            dataType="date"
            dir="ltr"
          ></dxi-column>
          <dxi-column caption="Description" dataField="description"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 10px">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="widget widget-table-two" style="padding: 20px" *ngIf="trip &&trip.reserveRecords">
      <div class="widget-heading">
        <h5 style="text-align: right">جزئیات رزرو</h5>
      </div>



      <div *ngFor="let reserveRecord of trip.reserveRecords" class="widget-content">
<hr/>
      <p> Service Location: {{ getLocationTitle(reserveRecord.locationId)}}</p>

        <dx-data-grid
          id="gridContainer"
          [dataSource]="reserveRecord.reserveItem"
          keyExpr="id"
          [showColumnLines]="true"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [showBorders]="true"
        >
          <dxi-column caption="عنوان" dataField="serviceLineTitle"></dxi-column>
          <dxi-column caption="تعداد" dataField="serviceQty"></dxi-column>
          <dxi-column
            caption="مبلغ واحد"
            dataField="unitPrice"
            format="currency"
          ></dxi-column>
          <dxi-column
            caption="جمع کل"
            dataField="serviceTotal"
            format="currency"
          ></dxi-column>
          <dxi-column
            caption=" Description"
            cellTemplate="cellTemp"
            dataField="id"
          ></dxi-column>
          <dxi-column
            dataField="discountPercent"
            dataType="number"
            caption="درصد تخفیف"
          ></dxi-column>
          <dxi-column
            dataField="discountValue"
            format="currency"
            caption="مبلغ تخفیف"
            dataType="number"
          ></dxi-column>
          <dxi-column
            dataField="serviceTotalAfterDiscount"
            dataType="number"
            caption="پس از تخفیف"
            format="currency"
          ></dxi-column>
          <dxi-column
            caption="VAT"
            dataField="taxValue"
            format="currency"
            dataType="number"
          ></dxi-column>
          <dxi-column
            caption="جمع"
            dataField="serviceAdvanceTotal"
            dataType="number"
            format="currency"
          ></dxi-column>
          <div *dxTemplate="let d of 'cellTemp'">
            {{
              d.data.passenger
                ? d.data.passenger.name + " " + d.data.passenger.lastName
                : ""
            }}
            {{ d.data.attedance ? d.data.attedance.name : "" }}
          </div>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
<dx-popup
  *ngIf="tripValue"
  [width]="'40vw'"
  [height]="'60vh'"
  [showTitle]="true"
  title="ثبت پرداخت"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [showCloseButton]="true"
  container=".dx-viewport"
  [visible]="visible"
>
  <dx-scroll-view width="100%" height="100%">
    <app-add-payment
      (paymentEvent)="recivePayment($event)"
      [trip]="tripValue"
    ></app-add-payment>
  </dx-scroll-view>
</dx-popup>
