<dx-popup

  [width]="'40vw'"
  [height]="'60vh'"
  [showTitle]="true"
  title="ثبت کد رزرو"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [showCloseButton]="true"
  container=".dx-viewport"
  [visible]="true"
  (onHidden)="goBack()"
>
  <dx-scroll-view width="100%" height="100%">
  
<form #f="ngForm" (ngSubmit)="onSubmit(f)" style="margin-bottom: 20px" *ngIf="trip">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group mb-4">
        <label for="input" style="text-align: right; width: 100%"
          >عنوان بانک</label
        >
        <input
          type="text"
          class="form-control"
          id="BankTitle"
          name="BankTitle"
          #BankTitle
          placeholder="عنوان بانک"
          required
          ngModel
        />
        <div
          *ngIf="submitted && !BankTitle.value"
          class="invalid-feedback"
          style="display: block"
        >
          شماره حساب الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="input" style="text-align: right; width: 100%"
          >شماره حساب</label
        ><input
          type="text"
          class="form-control"
          id="BankaccountId"
          name="BankaccountId"
          #BankaccountId
          placeholder="شماره حساب"
          style="text-align: left"
          ngModel
        />
        <div
          *ngIf="submitted && !BankaccountId.value"
          class="invalid-feedback"
          style="display: block"
        >
          شماره حساب الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="input" style="text-align: right; width: 100%"
          >کد پیگیری</label
        ><input
          type="text"
          class="form-control"
          id="TraceNumber"
          name="TraceNumber"
          #TraceNumber
          placeholder="کد پیگیری"
          required
          ngModel
          style="text-align: left"
        />
        <div
          *ngIf="submitted && !TraceNumber.value"
          class="invalid-feedback"
          style="display: block"
        >
          کد پیگیری الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-">
        <label for="input" style="text-align: right; width: 100%">کد مرجع</label
        ><input
          type="text"
          class="form-control"
          id="ReferenceId"
          name="ReferenceId"
          #ReferenceId
          ngModel
          placeholder="کد مرجع"
        />
        <div
          *ngIf="submitted && !ReferenceId.value"
          class="invalid-feedback"
          style="display: block"
        >
          کد مرجع الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-">
        <label for="input" style="text-align: right; width: 100%">مبلغ</label
        ><input
          type="number"
          class="form-control"
          id="Amount"
          name="Amount"
          #Amount
          placeholder="مبلغ"
          [ngModel]="trip.remaining"
        />
        <div
          *ngIf="submitted && !DateIssue.value"
          class="invalid-feedback"
          style="display: block"
        >
          مبلغ الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="input" style="text-align: right; width: 100%"
        >تاریخ پرداخت</label
      ><dx-date-box
        id="DateIssue"
        #DateIssue
        name="DateIssue"
        ngModel
        [max]="Date"
        placeholder="تاریخ پرداخت"
      ></dx-date-box>
      <div
        *ngIf="submitted && !DateIssue.value"
        class="invalid-feedback"
        style="display: block"
      >
        ثبت تاریخ الزامی است
      </div>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-dark m-3">ذخیره</button>
      <button type="button" class="btn btn-warning m-3" (click)="goBack()">لغو</button>
    </div>
  </div>
</form>

</dx-scroll-view>
</dx-popup>

<dx-toast [visible]="saved" type="success" [message]="'ذخیره شد'"> </dx-toast>
