<form #f="ngForm" (ngSubmit)="onSubmit(f)" style="margin-bottom: 20px">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group mb-4">
        <label for="input" style="text-align: right; width: 100%"
          >عنوان بانک</label
        >
        <input
          type="text"
          class="form-control"
          id="BankTitle"
          name="BankTitle"
          #BankTitle
          placeholder="عنوان بانک"
          required
          ngModel
        />
        <div
          *ngIf="submited && !BankTitle.value"
          class="invalid-feedback"
          style="display: block"
        >
          شماره حساب الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="input" style="text-align: right; width: 100%"
          >شماره حساب</label
        ><input
          type="text"
          class="form-control"
          id="BankAccountId"
          name="BankAccountId"
          #BankAccountId
          placeholder="شماره حساب"
          style="text-align: left"
          ngModel
        />
        <div
          *ngIf="submited && !BankAccountId.value"
          class="invalid-feedback"
          style="display: block"
        >
          شماره حساب الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="input" style="text-align: right; width: 100%"
          >کد پیگیری</label
        ><input
          type="text"
          class="form-control"
          id="TraceNumber"
          name="TraceNumber"
          #TraceNumber
          placeholder="کد پیگیری"
          required
          ngModel
          style="text-align: left"
        />
        <div
          *ngIf="submited && !TraceNumber.value"
          class="invalid-feedback"
          style="display: block"
        >
          کد پیگیری الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-">
        <label for="input" style="text-align: right; width: 100%">کد مرجع</label
        ><input
          type="text"
          class="form-control"
          id="RefrenceId"
          name="RefrenceId"
          #RefrenceId
          ngModel
          placeholder="کد مرجع"
        />
        <div
          *ngIf="submited && !RefrenceId.value"
          class="invalid-feedback"
          style="display: block"
        >
          کد مرجع الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-">
        <label for="input" style="text-align: right; width: 100%">مبلغ</label
        ><input
          type="number"
          class="form-control"
          id="Amount"
          name="Amount"
          #Amount
          placeholder="مبلغ"
          [ngModel]="reserveRecord.remainig"
        />
        <div
          *ngIf="submited && !DateIssue.value"
          class="invalid-feedback"
          style="display: block"
        >
          مبلغ الزامی است
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="input" style="text-align: right; width: 100%"
        >تاریخ پرداخت</label
      ><dx-date-box
        id="DateIssue"
        #DateIssue
        name="DateIssue"
        ngModel
        [max]="Date"
        placeholder="تاریخ پرداخت"
      ></dx-date-box>
      <div
        *ngIf="submited && !DateIssue.value"
        class="invalid-feedback"
        style="display: block"
      >
        ثبت تاریخ الزامی است
      </div>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-dark m-3">ذخیره</button>
      <button type="button" class="btn btn-warning m-3">لغو</button>
    </div>
  </div>
</form>

<dx-toast [visible]="saved" type="success" [message]="'ذخیره شد'"> </dx-toast>
