<form #f="ngForm" (ngSubmit)="onSubmit(f)" style="margin-bottom: 20px">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group mb-4">
        <label for="input" style="text-align: right; width: 100%"
          >عنوان بانک</label
        >
        <input
          type="text"
          class="form-control"
          id="BankTitle"
          name="BankTitle"
          placeholder="عنوان بانک"
          required
          ngModel
        />
        <div class="invalid-feedback show" style="display: none"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="input" style="text-align: right; width: 100%"
          >شماره حساب</label
        ><input
          type="text"
          class="form-control"
          id="BankAccountId"
          name="BankAccountId"
          placeholder="شماره حساب"
          style="text-align: left"
          ngModel
        />
        <div class="invalid-feedback show" style="display: none"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="input" style="text-align: right; width: 100%"
          >کد پیگیری</label
        ><input
          type="text"
          class="form-control"
          id="TraceNumber"
          name="TraceNumber"
          placeholder="کد پیگیری"
          required
          ngModel
          style="text-align: left"
        />
        <div class="invalid-feedback show" style="display: none"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-">
        <label for="input" style="text-align: right; width: 100%">کد مرجع</label
        ><input
          type="text"
          class="form-control"
          id="RefrenceId"
          name="RefrenceId"
          ngModel
          placeholder="کد مرجع"
        />
        <div class="invalid-feedback show" style="display: none"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-">
        <label for="input" style="text-align: right; width: 100%">مبلغ</label
        ><input
          type="number"
          class="form-control"
          id="Amount"
          name="Amount"
          placeholder="مبلغ"
          [ngModel]="reserveRecord.remainig"
          [min]="reserveRecord.remainig"
        />
        <div class="invalid-feedback show" style="display: none"></div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="input" style="text-align: right; width: 100%"
        >تاریخ پرداخت</label
      ><dx-date-box
        id="DateIssue"
        name="DateIssue"
        ngModel
        placeholder="تاریخ پرداخت"
      ></dx-date-box>
      <div class="invalid-feedback show" style="display: none"></div>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-dark m-3">ذخیره</button>
      <button type="button" class="btn btn-warning m-3">لغو</button>
    </div>
  </div>
</form>
