<div class="layout-px-spacing">
  <div class="page-header">
    <div class="page-title">
      <h3>{{ "FlightNumber.List.PageTitle" | translate }}</h3>
    </div>
  </div>

  <div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
      <div class="widget widget-chart-one" style="padding: 20px">
        <div class="widget-heading">
          <dx-data-grid
            [dataSource]="dataSource"
            [showBorders]="true"
            [remoteOperations]="true"
            [showColumnLines]="true"
            [showRowLines]="true"
            [rowAlternationEnabled]="true"
            [hoverStateEnabled]="true"
            (onExporting)="onExporting($event)"
            keyExpr="Id"
          >
            <dxo-filter-row
              [visible]="true"
              [applyFilter]="true"
            ></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel
              [visible]="true"
              [width]="250"
              placeholder="Search..."
            ></dxo-search-panel>

            <dxi-column
              direction="rtl"
              alignment="center"
              dataField="airlineName"
              caption="{{ 'FlightNumber.List.AirlineName' | translate }}"
              dataType="string"
              width="120"
            ></dxi-column>
            <dxi-column
              direction="rtl"
              alignment="right"
              dataField="flightName"
              dataType="string"
              width="200"
              caption="{{ 'FlightNumber.List.FlightName' | translate }}"
            ></dxi-column>

            <dxi-column
              width="200"
              dataField="flightInfo.arrivalCity"
              dataType="string"
              caption="{{ 'FlightNumber.List.ArrivalCity' | translate }}"
            ></dxi-column>
            <dxi-column
              width="200"
              dataField="flightInfo.departureCity"
              dataType="string"
              caption="{{ 'FlightNumber.List.DepartureCity' | translate }}"
            ></dxi-column>
            <dxi-column
              dataField="flightDate"
              format="yyyy/MM/dd"
              dataType="date"
              caption="{{ 'FlightNumber.List.FlightDate' | translate }}"
              cellRender="checkBoxCell"
            ></dxi-column>
            <dxi-column
              dataField="flightInfo.departureTime"
              dataType="string"
              caption="{{ 'FlightNumber.List.DepartureTime' | translate }}"
              cellRender="checkBoxCell"
            ></dxi-column>

            <dxi-column
              dataField="flightInfo.arrivalTime"
              allowSorting="false"
              caption="{{ 'FlightNumber.List.ArrivalTime' | translate }}"
            ></dxi-column>
            <dxi-column
              dataField="flightType"
              allowSorting="true"
              caption="{{ 'FlightNumber.List.FlightType' | translate }}"
            ></dxi-column>
            <dxi-column
              dataField="scheduled"
              allowSorting="true"
              caption="{{ 'FlightNumber.List.Scheduled' | translate }}"
            ></dxi-column>

            <dxi-column
              dataField="status"
              allowSorting="true"
              caption="{{ 'FlightNumber.List.Status' | translate }}"
            ></dxi-column>
            <dxi-column
              cellTemplate="cellTemplate"
              dataField="id"
              allowSorting="true"
              caption="{{ 'FlightNumber.List.Link' | translate }}"
            ></dxi-column>

            <dxo-paging defaultPageSize="12"></dxo-paging>
            <dxo-pager
              [showPageSizeSelector]="true"
              allowedPageSizes="allowedPageSizes"
            ></dxo-pager>

            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <div *dxTemplate="let data of 'cellTemplate'">
              <a
                [routerLink]="[
                  '/dashboard/basicdata/flights/flightForm',
                  data.value
                ]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  strokeWidth="2"
                  strokeLinecap="round"
                  strokeLinejoin="round"
                  className="feather feather-settings"
                >
                  <circle cx="12" cy="12" r="3"></circle>
                  <path
                    d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"
                  ></path>
                </svg>
              </a>
            </div>
            <dxo-export
              [enabled]="true"
              [allowExportSelectedData]="true"
            ></dxo-export>
            <dxo-toolbar>
              <dxi-item location="after">
                <div *dxTemplate>
                  <dx-button icon="plus" (onClick)="AddAccount()"> </dx-button>
                </div>
              </dxi-item>
              <dxi-item name="columnChooserButton"></dxi-item>
              <dxi-item name="exportButton"></dxi-item>
              <dxi-item name="searchPanel"></dxi-item>
            </dxo-toolbar>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
