<div class="statbox widget box">
  <div class="widget-content widget-content-area">
    <div
      *ngIf="flightInfo"
      class="row "
      style="direction: rtl"
    >
      <div class="col-lg-12 col-12 layout-spacing">
        <div class="row m-2">
          <div class="col">
            <span
              >Airline: <b>{{ flightInfo.airlineName }}</b></span
            >
          </div>
          <div class="col">
            <span
              >Flight Name: <b>{{ flightInfo.flightName }}</b></span
            >
          </div>
          <div class="col">
            <span
              >Flight Date:<b>{{
                flightInfo.flightDate | date : "yyyy/MM/dd"
              }}</b></span
            >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <blockquote class="blockquote" style="padding: 5px; margin: 0px">
              <p style="text-align: center;font-size: 11px;">اطلاعات حرکت</p>
              <nav class="" style="direction: rtl; text-align: right;">
                <div *ngIf="DepartureLocation" ><p style="font-size: 10px;">محل ارائه سرویس :<strong>{{ DepartureLocation.title }}</strong> </p></div>

                <!-- <ol class="breadcrumb">
                
                  <li
                    style="margin-right: 30px"
                    *ngIf="reserveNumber"
                    class="breadcrumb-item"
                  >
                    کد رزرو <strong class="text-danger">{{ reserveNumber }}</strong>
                  </li> -->
                  <!-- <li style="margin-right: 30px" *ngIf="Status" class="breadcrumb-item">
                    <strong [class]="getStyle(Status)">{{ getStatus(Status) }}</strong>
                  </li> 
                </ol> -->
              </nav>
              <p style="
              text-align: right;
              width: 100%;
         font-size: 10px;
          ">{{ flightInfo.departureCity }}</p>
              <p
                >{{ flightInfo.departureAirport
                }}<span><code> time </code></span
                ><b>{{ flightInfo.departureTime }}</b></p
              >
            </blockquote>
          </div>
          <div class="col" style="align-self: center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="55"
              height="55"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#cccccc"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevrons-left"
              style="margin: auto; display: block"
            >
              <polyline points="11 17 6 12 11 7"></polyline>
              <polyline points="18 17 13 12 18 7"></polyline>
            </svg>
          </div>
          <div class="col">
            <blockquote class="blockquote" style="padding: 5px; margin: 0px">
              <p style="text-align: center;font-size: 11px;">اطلاعات ورود</p>
              <div *ngIf="ArrivalLocation" ><p style="font-size: 10px;text-align: right;">محل ارائه سرویس :<strong>{{ ArrivalLocation.title }}</strong> </p></div>

              <p style="
              text-align: right;
              width: 100%;
              font-size: 10px;
          ">{{ flightInfo.arrivalAirport }}</p>
              <p
                >{{ flightInfo.arrivalCity }}<span><code> time </code></span
                ><b>{{ flightInfo.arrivalTime }}</b></p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="flightInfoForm">
      <div class="row">




        <div class="col" style="
        text-align: right;font-size: 12px;
    ">
          <label
            >{{ "ReservePage.FlightInfoForm.FlightDate" | translate }}
          </label>

          <dx-date-box
            [min]="min"
          
            type="date"
            [displayFormat]="'yyyy/MM/dd'"
            [showClearButton]="true"
            (onValueChanged)="flightDate($event)"
            formControlName="flightDate"
          ></dx-date-box>
        </div>




        <div class="col" style="
        text-align: right;font-size: 12px;
    ">
          <label for="input"
            >{{ "ReservePage.FlightInfoForm.FlightNumber" | translate }}
          </label>
          <dx-select-box
            [dataSource]="flightNumberSource"
            displayExpr="flightName"
            [showDataBeforeSearch]="true"
           
            [searchEnabled]="true"
            formControlName="flightName"
            (onSelectionChanged)="flightNumberChanged($event)"
          ></dx-select-box>
        </div>
        <!-- <div class="col" style="
        text-align: right;
    ">
          <label for="input">{{
            "ReservePage.FlightInfoForm.flightType" | translate
          }}</label>

          <dx-select-box
            [dataSource]="flightTypeSource"
            displayExpr="label"
            valueExpr="value"
            name="flightType"
            id="flightType"
            #flightType
            formControlName="flightType"
            (onSelectionChanged)="flightTypeChanged($event)"
          ></dx-select-box>
        </div> -->




        <!-- <div class="col" style="
        text-align: right;
    ">
          <label for="input">محل ارائه سروریس</label>

          <dx-select-box
            [dataSource]="ArrivalLocations"
            displayExpr="title"
            valueExpr="id"
            name="locationId"
            id="locationId"
          
            formControlName="locationId"
            (onSelectionChanged)="locationChanged($event)"
          ></dx-select-box>
        </div>

     
        <div class="col" style="
        text-align: right;
    ">
          <label
            for="input"
            style="text-align: left; direction: ltr; width: 100%"
            ><span *ngIf="flightType.value === 1">{{
              "ReservePage.FlightInfoForm.DepartureFlightTime" | translate
            }}</span>
            <span *ngIf="flightType.value === 0">{{
              "ReservePage.FlightInfoForm.ArrivalFlightTime" | translate
            }}</span> </label
          ><input
            type="text" (onchange)="updateFlightTime($event)"
            class="form-control"
            placeholder="ساعت ورود"
            formControlName="flightTime"
          />
        </div> -->
</div>

    </form>
  
    
<div class="row mt-3" *ngIf="this.flightInfo">

<div class="col-6" style="direction: rtl;">
  <p style="
  text-align: justify;font-size: 12px;
">محل ارائه سرویس در مبدا</p>
  <app-location-options [id]="'Departure'" (SelectedLocation)="onDepartureLocation($event)" [Type]="'Departure'" [Locations]="DepartureLocations" ></app-location-options>


  
  
  </div>
<div class="col-6">
<p style="
text-align: justify;font-size: 12px;
">محل ارائه سرویس در مقصد</p>
 <app-location-options [Type]="'Arrival'" [id]="'Arrival'" (SelectedLocation)="onArrivalLocation($event)" [Locations]="ArrivalLocations" ></app-location-options>


</div>
</div>









  </div>
</div>
