<div class="statbox widget box" *ngIf="flightInfoForm">
  <div class="widget-content widget-content-area">
    <div
      *ngIf="trip&&trip.flightInfo"
      class="row "
      style="direction: rtl"
    >
      <div class="col-lg-12 col-12 layout-spacing">
        <div class="row m-2">
          <div class="col">
            <span
              >Airline: <b>{{ trip.flightInfo.airlineName }}</b></span
            >
          </div>
          <div class="col">
            <span
              >Flight Name: <b>{{ trip.flightInfo.flightName }}</b></span
            >
          </div>
          <div class="col">
            <span
              >Departure Date:<b>{{
                trip.flightInfo.flightDate | date : "yyyy-MM-dd"
              }}</b></span
            >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <blockquote class="blockquote" style="padding: 5px; margin: 0px">
              <p style="text-align: center;font-size: 11px;">Departure Info</p>
              <nav class="" style="direction: ltr; text-align: right;">
                <div *ngIf="DepartureLocation" ><p style="font-size: 10px;"><strong>{{ DepartureLocation.title }}</strong> </p></div>

             
              </nav>
              <p style="
              text-align: right;
              width: 100%;
         font-size: 10px;
          ">{{ trip.flightInfo.departureCity }}</p>
              <p
                >{{ trip.flightInfo.departureAirport
                }}<span><code> time </code></span
                ><b>{{ trip.flightInfo.departureTime }}</b> - <span style="font-size: 8px;" class="text-danger">{{trip.flightInfo.flightDate|date:"yyy-MM-dd"}}</span></p
              >
            </blockquote>
          </div>
          <div class="col" style="align-self: center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="55"
              height="55"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#cccccc"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevrons-left"
              style="margin: auto; display: block"
            >
              <polyline points="11 17 6 12 11 7"></polyline>
              <polyline points="18 17 13 12 18 7"></polyline>
            </svg>
          </div>
          <div class="col">
            <blockquote class="blockquote" style="padding: 5px; margin: 0px">
              <p style="text-align: center;font-size: 11px;">Arrival Info</p>
              <div *ngIf="ArrivalLocation" ><p style="font-size: 10px;text-align: right;"><strong>{{ ArrivalLocation.title }}</strong> </p></div>

              <p style="
              text-align: right;
              width: 100%;
              font-size: 10px;
          ">{{ trip.flightInfo.arrivalAirport }}</p>
              <p
                >{{ trip.flightInfo.arrivalCity }}<span><code> time </code></span
                ><b>{{ trip.flightInfo.arrivalTime }}</b> - <span style="font-size: 8px;" class="text-danger">{{arrivalDate()|date:"yyy-MM-dd"}}</span></p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="flightInfoForm">
      <div class="row">




        <div class="col-6" style="
        text-align: right;font-size: 12px;
    ">
          <label
            >{{ "ReservePage.FlightInfoForm.FlightDate" | translate }}
          </label>

          <dx-date-box
            [min]="min"
          
            type="date"
            [displayFormat]="'yyyy/MM/dd'"
            [showClearButton]="true"
            (onValueChanged)="flightDate($event)"
            formControlName="flightDate"
          ></dx-date-box>
        </div>




        <div class="col-6" style="
        text-align: right;font-size: 12px;
    " *ngIf="flightInfoForm.controls.flightDate.value" >
          <label for="input"
            >{{ "ReservePage.FlightInfoForm.FlightNumber" | translate }}
          </label>
          <dx-select-box
            [dataSource]="flightNumberSource"
            displayExpr="flightName"
            [showDataBeforeSearch]="true"
           
            [searchEnabled]="true"
            formControlName="flightName"
           
            (onSelectionChanged)="flightNumberChanged($event)"
          ></dx-select-box>
        </div>
       
</div>

    </form>
  
    
<div class="row mt-3" *ngIf="trip&&trip.flightInfo">
  <div class="col-6" style="direction: rtl;">
    <p style="
    text-align: justify;font-size: 12px;
  ">Departure Location</p>
  
    <app-location-options [id]="'Departure'" [Value]="departureLocation" (SelectedLocation)="onDepartureLocation($event)" [Type]="'Departure'" [Locations]="DepartureLocations" ></app-location-options>
  
  
    
    
    </div>
  
  <div class="col-6">
    <p style="
    text-align: justify;font-size: 12px;
    ">Arrival Location</p>
    
     <app-location-options [Type]="'Arrival'" [id]="'Arrival'" [Value]="arrivalLocation" (SelectedLocation)="onArrivalLocation($event)" [Locations]="ArrivalLocations" ></app-location-options>
    
    
    </div>

</div>









  </div>
</div>
