<app-header></app-header>

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
  <div class="{{ classMenu }}" (click)="closemenu()"></div>
  <div class="search-overlay"></div>

  <!--  BEGIN CONTENT AREA  -->
  <div id="content" class="main-content">
    <div class="layout-px-spacing">
      <!-- CONTENT AREA -->

      <router-outlet></router-outlet>

      <!-- CONTENT AREA -->
    </div>
    <div class="footer-wrapper">
      <div class="footer-section f-section-1">
        <p class="">
          Copyright © {{ year }} <a target="_blank" href="">Varan</a>, All
          rights reserved.
        </p>
      </div>
      <div class="footer-section f-section-2"></div>
    </div>
  </div>
  <!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->
