<dx-popup
  [width]="'80vw'"
  [height]="'80vh'"
  [showTitle]="true"
  title="Location"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  [visible]="true"
>
  <div *dxTemplate="let data of 'content'">
    <form [formGroup]="locationForm" (ngSubmit)="SubmitFrom()">
      <div class="form-group mb-4">
        <label for="input" style="text-align: right; width: 100%">عنوان   <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
          ">*</span></label
        ><input
          type="text"
          class="form-control"
          id="title"
          placeholder="عنوان"
          formControlName="title"
        />
        <div
          *ngIf="
            !locationForm.controls.title.valid &&
            (locationForm.controls.title.touched || this.submitted)
          "
          class="invalid-feedback show"
          style="display: block"
        >
          {{
            locationForm.controls.title.errors &&
            locationForm.controls.title.errors["required"]
              ? "اجباری"
              : ""
          }}
        </div>
      </div>
      <div class="row">
      <div class="form-group mb-4 col-6">
        <label for="input" style="text-align: right; width: 100%">آدرس <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
          ">*</span></label
        ><input
          type="text"
          class="form-control"
          id="address"
          placeholder="آدرس"
          formControlName="address"
        />
        <div
        *ngIf="
          !locationForm.controls.address.valid &&
          (locationForm.controls.address.touched || this.submitted)
        "
        class="invalid-feedback show"
        style="display: block"
      >
        {{
          locationForm.controls.address.errors &&
          locationForm.controls.address.errors["required"]
            ? "اجباری"
            : ""
        }}
      </div>
      </div>
      <div class="form-group mb-4 col-6">
        <label for="input" style="text-align: right; width: 100%"
          >موقعیت جغرافیایی <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
          ">*</span></label
        ><input
          type="text"
          class="form-control"
          id="location"
          placeholder="موقعیت جغرافیایی"
          formControlName="location"
        />
        <div
        *ngIf="
          !locationForm.controls.location.valid &&
          (locationForm.controls.location.touched || this.submitted)
        "
        class="invalid-feedback show"
        style="display: block"
      >
        {{
          locationForm.controls.location.errors &&
          locationForm.controls.location.errors["required"]
            ? "اجباری"
            : ""
        }}
      </div>
      </div>
      <div class="form-group col-md-4">
        <label for="input" style="text-align: right; width: 100%"
          >فرودگاه  </label
        >   <dx-select-box
        [dataSource]="airportNamesDataSource"
        displayExpr="name"
        valueExpr="id"
        [searchEnabled]="true"
        name="airportId"
        id="airportId"
        formControlName="airportId"
       
      >
      </dx-select-box>
    
 
      </div>
      <div class="form-group mb-4 col-4">
        <label for="from">آخرین زمان مجاز <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
          ">*</span></label>
        <dx-date-box
          pickerType="rollers"
          formControlName="maxAcceptDate"
          type="date"
          displayFormat="yyyy-MM-dd"
        ></dx-date-box>

        <div
        *ngIf="
          !locationForm.controls.maxAcceptDate.valid &&
          (locationForm.controls.maxAcceptDate.touched || this.submitted)
        "
        class="invalid-feedback show"
        style="display: block"
      >
        {{
          locationForm.controls.maxAcceptDate.errors &&
          locationForm.controls.maxAcceptDate.errors["required"]
            ? "اجباری"
            : ""
        }}
      </div>
      </div>
      <div class="form-group col-md-4 col-4">
        <label>&nbsp;</label>
        <div class="">
          <input
            type="checkbox"
            class=""
            id="status"
            style="height: 24px; width: 25px"
            formControlName="doNotShowInReserveLocationList"
          /><label
            class=""
            for="status"
            style="text-align: right; float: right"
            >عدم نمایش در لیست محل ارائه سرویس</label
          >
        </div>
      </div>
    </div>
      <div class="row">
        <div class="form-group col-md-4 mb-4">
          <label for="from">بافر ورودی <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
            ">*</span></label><label for="input"></label
          ><input
            type="number"
            class="form-control"
            id="arrivalBufferTime"
            formControlName="arrivalBufferTime"
            min="0"
          />
          <div
          *ngIf="
            !locationForm.controls.arrivalBufferTime.valid &&
            (locationForm.controls.arrivalBufferTime.touched || this.submitted)
          "
          class="invalid-feedback show"
          style="display: block"
        >
          {{
            locationForm.controls.arrivalBufferTime.errors &&
            locationForm.controls.arrivalBufferTime.errors["required"]
              ? "اجباری"
              : ""
          }}
        </div>
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="from">بافر خروجی <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
            ">*</span></label><label for="input"></label
          ><input
            type="number"
            class="form-control"
            id="departureBufferTime"
            formControlName="departureBufferTime"
            min="0"
          />
          <div
          *ngIf="
            !locationForm.controls.departureBufferTime.valid &&
            (locationForm.controls.departureBufferTime.touched || this.submitted)
          "
          class="invalid-feedback show"
          style="display: block"
        >
          {{
            locationForm.controls.departureBufferTime.errors &&
            locationForm.controls.departureBufferTime.errors["required"]
              ? "اجباری"
              : ""
          }}
        </div>
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="from">بافر ترنسفر <span class="invalid-feedback show" style="display: block; float: right;width: fit-content;
            ">*</span></label><label for="input"></label
          ><input
            type="number"
            class="form-control"
            id="transferBufferTime"
            formControlName="transferBufferTime"
            min="0"
          />
          <div
          *ngIf="
            !locationForm.controls.transferBufferTime.valid &&
            (locationForm.controls.transferBufferTime.touched || this.submitted)
          "
          class="invalid-feedback show"
          style="display: block"
        >
          {{
            locationForm.controls.transferBufferTime.errors &&
            locationForm.controls.transferBufferTime.errors["required"]
              ? "اجباری"
              : ""
          }}
        </div>
        </div>
       
        
      </div>

      <button
        type="button"
        (click)="oncancel()"
        class="btn btn-warning mb-2 mr-2 ml-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-x"
        >
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
      <button type="submit" class="btn btn-dark mb-2">
        <div class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-save"
          >
            <path
              d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"
            ></path>
            <polyline points="17 21 17 13 7 13 7 21"></polyline>
            <polyline points="7 3 7 8 15 8"></polyline>
          </svg>
        </div>
      </button>
    </form>
  </div>
</dx-popup>
