<dx-popup
  [width]="'80vw'"
  [height]="'80vh'"
  [showTitle]="true"
  title="Location"
  [dragEnabled]="false"
  [hideOnOutsideClick]="false"
  [showCloseButton]="false"
  container=".dx-viewport"
  [visible]="true"
>
  <div *dxTemplate="let data of 'content'">
    <form [formGroup]="locationForm" (ngSubmit)="SubmitFrom()">
      <div class="form-group mb-4">
        <label for="input" style="text-align: right; width: 100%">عنوان</label
        ><input
          type="text"
          class="form-control"
          id="title"
          placeholder="عنوان"
          formControlName="title"
        />
        <div
          *ngIf="
            !locationForm.controls.title.valid &&
            locationForm.controls.title.touched
          "
          class="invalid-feedback show"
          style="display: block"
        >
          {{
            locationForm.controls.title.errors &&
            locationForm.controls.title.errors["required"]
              ? "اجباری"
              : ""
          }}
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="input" style="text-align: right; width: 100%">آدرس</label
        ><input
          type="text"
          class="form-control"
          id="address"
          placeholder="آدرس"
          formControlName="address"
        />
        <div class="invalid-feedback show" style="display: block"></div>
      </div>
      <div class="form-group mb-4">
        <label for="input" style="text-align: right; width: 100%"
          >موقعیت جغرافیایی</label
        ><input
          type="text"
          class="form-control"
          id="location"
          placeholder="موقعیت جغرافیایی"
          formControlName="location"
        />
        <div class="invalid-feedback show" style="display: block"></div>
      </div>
      <div class="form-group mb-4">
        <label for="from">آخرین زمان مجاز</label>
        <dx-date-box
          pickerType="rollers"
          formControlName="maxAcceptDate"
          type="date"
          displayFormat="yyyy-MM-dd"
        ></dx-date-box>

        <div class="invalid-feedback show" style="display: block"></div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 mb-4">
          <label for="from">بافر ورودی</label><label for="input"></label
          ><input
            type="number"
            class="form-control"
            id="arrivalBufferTime"
            formControlName="arrivalBufferTime"
            min="0"
          />
          <div class="invalid-feedback show" style="display: block"></div>
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="from">بافر خروجی</label><label for="input"></label
          ><input
            type="number"
            class="form-control"
            id="departureBufferTime"
            formControlName="departureBufferTime"
            min="0"
          />
          <div class="invalid-feedback show" style="display: block"></div>
        </div>
        <div class="form-group col-md-4 mb-4">
          <label for="from">بافر ترنسفر</label><label for="input"></label
          ><input
            type="number"
            class="form-control"
            id="transferBufferTime"
            formControlName="transferBufferTime"
            min="0"
          />
          <div class="invalid-feedback show" style="display: block"></div>
        </div>
      </div>

      <button
        type="button"
        (click)="oncancel()"
        class="btn btn-warning mb-2 mr-2 ml-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-x"
        >
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
      <button type="submit" class="btn btn-dark mb-2">
        <div class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-save"
          >
            <path
              d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"
            ></path>
            <polyline points="17 21 17 13 7 13 7 21"></polyline>
            <polyline points="7 3 7 8 15 8"></polyline>
          </svg>
        </div>
      </button>
    </form>
  </div>
</dx-popup>
