<span *ngIf="mode==='new'">
<div class="card" *ngFor="let l of Locations">

    <input type="radio" [checked]="this.value===l.id" (change)="handleChange($event)"  [name]="'Location'+Type" [id]="l.id"  >
    <label [for]="l.id">
       <h5>{{l.title}}</h5>
      
    </label>
  </div>
  <div class="card cancel" >
   
    <input type="radio" (change)="handleChange($event)"  [name]="'Location'+Type" [id]="0"  >
    <label [for]="0">
       <h5>None</h5>
      
    </label>
  </div>
</span>
 
<span *ngIf="mode==='edit'">

   <div class="" *ngFor="let l of loadedLocations">
    
     <span style="font-size: 10px;float: right;"  *ngIf="this.value===l.id">{{l.title}}</span>

    
     </div>
    
   </span>

 