<div class="row layout-top-spacing">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-chart-one" style="padding: 20px">
      <div class="widget-heading">
        <div class="row">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <p>سوئیت</p>
          </div>
        </div>
      </div>
      <div>
        <div style="display: block" *ngFor="let item of SutiePriceList">
          <app-suite-item [item]="item"></app-suite-item>
        </div>
      </div>
    </div>
  </div>
</div>
