


<form #form  style="width: 100%;display: contents;">
  

    <div class="col-2 mt-5" *ngFor="let i of this.permissions">
      <span>{{ i.title }}</span>
    
      <span>
     <dx-switch class="mr-10 ml-10"  style="float: right;"
       [disabled]="isLoading"
        [name]="permission.id+'#'+i.title" 
        [id]="permission.id+'#'+i.title" 
        [value]="i.value"
        (onValueChanged)="onValueChanged($event)"
        >
    </dx-switch>
    </span>
    
    </div>
      
    </form>
    