<div id="content" style="direction: rtl!important;">
 
  <div class="container">
    <div class="container">
      <div *ngIf="this.serviceListLoaded"
        class="navSection nav sidenav"
        style="top: 95px; width: 300px; direction: rtl"
      ></div>

      <app-flight-info></app-flight-info>

    <div *ngIf="this.trip&&this.trip.flightInfo&&this.trip.flightInfo.departureLocationId">
      

<h1></h1>

      <app-passengers   *ngIf="hasDeparturePassenger"          [type]="'Departure'"  [locationId]="this.trip.flightInfo.departureLocationId"></app-passengers>
      <app-attendees    *ngIf="hasDepartureAttendance"          [type]="'Departure'"   [locationId]="this.trip.flightInfo.departureLocationId"></app-attendees>
      <app-transfer     *ngIf="hasDepartureTransfer"          [type]="'Departure'"    [locationId]="this.trip.flightInfo.departureLocationId"></app-transfer>
      <app-pet-service  *ngIf="hasDeparturePet"             [type]="'Departure'" [locationId]="this.trip.flightInfo.departureLocationId"></app-pet-service>
    </div>
    <div *ngIf="this.trip&&this.trip.flightInfo&&this.trip.flightInfo.arrivalLocationId" >
      
      <app-passengers   *ngIf="hasArrivalPassenger"    [type]="'Arrival'"    [locationId]="this.trip.flightInfo.arrivalLocationId"></app-passengers>
      <app-attendees    *ngIf="hasArrivalAttendance"   [type]="'Arrival'"     [locationId]="this.trip.flightInfo.arrivalLocationId"></app-attendees>
      <app-transfer     *ngIf="hasArrivalTransfer"     [type]="'Arrival'"      [locationId]="this.trip.flightInfo.arrivalLocationId"></app-transfer>
      <app-pet-service  *ngIf="hasArrivalPet"          [type]="'Arrival'"   [locationId]="this.trip.flightInfo.arrivalLocationId"></app-pet-service>
    </div>
    
    </div>
  </div>
</div>
